---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $white;
  //font: 14px/1.5 $muli;
  font: 16px/1.7 $commonFont;
  color: $darkGray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  //font-family: $montserrat;
  color: $darkerGray;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  margin: 1.3em 0 0.8em;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 26px;
  a {
    color: inherit;
  }
}

h1.title {
  color: $blue;
  margin-bottom: 5px;
}

h2 {
  font-size: 22px;
  >strong{
    color: #008080;
  }
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
}

p {
  margin: 10px 0 15px;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $darkblue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

strong > em {
  color: $darkred;
}

img {
  max-width: 100%;
}

hr {
  border: none;
  border-bottom: 1px solid $blue;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

// Image caption
figcaption {
  text-align: center;
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(0,0,0,0.6);
  outline: 0;
}

.hide {
  display: none;
}


// Beautiful Info/Tips Box

div.box {
  position: relative;
  margin: 0;
  p {
    padding: 15px;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    color: $darkGray;
  }

  p:first-child:after {
    position: absolute;
    top: 4px;
    color: #fff;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
    content: 'Info'
  }

  > p {
    border-top: 30px solid #f0b37e;
    background: #fff2db
  }
}

div.info {
  p:first-child:after {
    content: 'Info'
  }

  > p {
    border-top: 30px solid #f0b37e;
    background: #fff2db
  }
}
div.warning {
  p:first-child:after {
    content: 'Warning'
  }

  > p {
    border-top: 30px solid rgba(217, 83, 79, .8);
    background: #fae2e2
  }
}
div.note {
  p:first-child:after {
    content: 'Note'
  }

  > p {
    border-top: 30px solid #6ab0de;
    background: #e7f2fa
  }
}
div.permalink {
  margin-top: 30px;
  p:first-child:after {
    content: '本文地址 (Permalink)'
  }

  > p {
    border-top: 30px solid #6ab0de;
    background: #e7f2fa
  }
}
div.tip {
  p:first-child:after {
    content: 'Tip'
  }

  > p {
    border-top: 30px solid rgba(92, 184, 92, .8);
    background: #e6f9e6
  }
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
  margin-bottom: 25px;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}

::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 20px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 35px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  //font-family: $helveticaNeue;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.04em;
}

.site-description {
  margin: 0;
  color: $gray;
  font-size: 14px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.posts .pagination {
  text-align: right;
  margin: 10px 0;
  span, a {
    font-size: 16px;
    margin-left: 15px;
  }
}

.post {
  blockquote {
    margin: 1.3em .8em;
    border-left: 2px solid $blue;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 18px;
    font-style: italic;
    cite {
      font-weight: 600;
    }
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    display: inline-block;
    margin-top: 10px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    background: $lightGray2;
    padding: 5px 10px;
    color: $gray;
    border-radius: 5px;
    &:hover, &:active{
      color: $white;
      background: $gray;
    }
  }

  .url {
    border-top: 1px solid $lightGray;
    margin-top: 3em;
  }

  table.light {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #757575;
    //font-size: 0.857143rem;
    line-height: 2;
    margin: 0 0 1.71429rem;
    width: 100%;
  }
  table.light caption {
    font-size: 1.14286rem;
    margin: 1.71429rem 0;
  }
  table.light td {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 6px 10px 6px 10px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  //border-bottom: 1px solid #ddd;
  background-color: $light;
}

footer {
  padding: 20px 0;
  text-align: center;
  a {
    margin: 0 8px;
  }
  p.copyright {
    margin: 10px auto;
    width: 70%;
    font-size: 12px;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
