
//
// VARIABLES
//

// Colors
//$blue: #4183C4;
$blue: #1694ca;
$darkblue: #0e6185;
$green: #5cb85c;
$darkgreen: #4cae4c;
$cyan: #5bc0de;
$darkcyan: #46b8da;
$orange: #f39531;
$darkorange: #e78113;
$red: #d9534f;
$darkred: #d43f3a;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$gray2: #999;
$lightGray: #eee;
$lightGray2: #ddd;
$light: #f6f6f6;
$white: #fff;

// Font stacks
$muli: "Muli","Helvetica","Tahoma","Geneva","Arial",sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$montserrat: "Montserrat","Helvetica","Tahoma","Geneva","Arial",sans-serif;
$georgia: Georgia, serif;
$arial: Arial, freesans, clean, sans-serif;
$freight: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
$commonFont: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}