---
layout: default
---

<article class="post">
    <h1 class="title">{{ page.title }}</h1>

    <div class="date">
        {{ page.date | date: "%B %e, %Y" }} <br>
        author: <a href="http://xiaodouzi.github.io{{ page.url }}">小豆子</a>
    </div>

    <div class="entry">
        {{ content }}
    </div>

    <div class="box permalink">
        <p><a href="http://jnoodle.github.io{{ page.url }}">http://jnoodle.github.io{{ page.url }}</a><br>
            <a href="http://www.feeldesignstudio.com{{ page.url }}">http://www.feeldesignstudio.com{{ page.url }}</a>
            <br>
            <small>© 未标明转载均为原创，在满足<a
                    href="http://creativecommons.org/licenses/by-nc/3.0/deed.zh">创作共用版权协议</a>的基础上欢迎转载，请注明作者和出处链接
            </small>
        </p>
    </div>

    {% include disqus.html %}
</article>
